<div class="container">
    <form>
        <div>
            <mat-form-field>
              <input matInput placeholder="Name" class="form-control">
            </mat-form-field>
          </div>
      
          <div>
            <mat-form-field>
              <input matInput placeholder="Type" class="form-control">
            </mat-form-field>
          </div>
      
          <div>
            <mat-form-field>
              <input matInput placeholder="Color" class="form-control">
            </mat-form-field>
          </div>
      
          <div>
            <mat-form-field>
              <input type="number" matInput placeholder="Car number" class="form-control" required>
            </mat-form-field>
          </div>
      
          <div>
            <mat-form-field>
              <input type="number" matInput placeholder="No of seats" class="form-control">
            </mat-form-field>
          </div>
      
          <div>
            <button mat-raised-button>Submit</button>
          </div>
    </form>
</div>